#header
	background: $red
	position: static

	.container
		height: auto

	.branding
		width: 100%
		max-width: 180px
		float: left
		height: 100%

	a
		display: block
		height: inherit

		.logo
			+hide-text
			background:
				image: url("../images/logo.svg")
				repeat: no-repeat
				position: center
				size: contain
			margin: 0
			height: inherit


.cart-wrap
	display: none

#header-search-bar
	height: 80px
	padding: 10px 0
	background: $dark_gray

	.container
		height: inherit !important

	form
		label
			text-indent: -1000px
			color: $dark_gray
			height: auto

		.search-field
			width: 65%
			float: left
			padding: 16px 20px
			height: auto !important

		input[type="submit"]
			float: left
			margin-left: 10px
			padding: 20px 15px 19px
			height: auto !important
			background-color: transparent
			border: none
			font-family: lato, sans-serif
			font-weight: 100
			color: white

			&:hover
				color: $red

#header.shrink-header
	position: fixed
	top: 0
	width: 100%
	z-index: 10000
	transition: all 0.3s ease-in-out
	height: $shrink_hdr_height

	.branding
		padding: 10px

		.logo
			padding: 0 !important
			margin: 0 !important

	.container
		height: auto
