@media screen and (max-width:997px) {
	nav#navbar {
	    display: none;
	    position: relative;
	    z-index: 1;
	}

	#header .container {
	    height: auto;
	}

	.nav-wrap {
	    float: none !important;
	    width: 100%;
	    display: block;
	}

	ul.navigation {
	    float: none !important;
	    width: 100%;
	    clear: left;
	    height: auto !important;
	}

	.branding {
		padding: 20px 0
	}

	nav#navbar .nav-wrap a {
	    display: block;
	    text-align: center;
	    padding: 20px !important;
	    height: auto;
	}
	 
	nav#navbar .nav-wrap li {
	    height: auto !important;
		display: block !important
	}

	ul.header-btns {
	    float: none !important;
	}

	.header-btns i {
	    padding: 17px !important;
	    display: block;
	    text-align: center;
	}

	div#mobile-menu {
	    display: block !important;
	    float: right;
	    width: 30px;
	    height: 21px;
	    margin: 30px 0 0;
	    background: transparent;
	    position: relative;
	    cursor: pointer;
	    border-top: 4px solid white;
	    z-index: 3;
	}

	div#mobile-menu::after,div#mobile-menu::before {
	    display: block;
	    content: '';
	    height: 4px;
	    background: white;
	    position: absolute;
	    right: 0;
	}

	div#mobile-menu:before {
	    width: 25px;
	    top: 4px;
	}

	div#mobile-menu:after {
	    top: 12px;
	    width: 20px;
	}
}// 997px

@media screen and (max-width:640px) {
	#topbar {
		display: none;
	}
} //640px