// imports
@import 'normalize'
@import '01_settings/variables'
@import 'bourbon/bourbon'
@import 'neat/neat' 
@import '01_settings/my-grid'
@import '01_settings/mixins'
@import '02_modules/carousel'
  
//extended/helper classes 
.clearfix   
  &::after 
    content: "" 
    display: table 
    clear: both 

.hide
	display: none

.show
	display: block !important

.shrink-header
	position: fixed
	top: 0
	width: 100%
	z-index: 10000
	transition: all 0.3s ease-in-out

.transition
	transition: all 0.3s ease-in-out
 
.read-more
	background-color: $red
	color: white
	display: inline-block
	margin-top: 5px
	padding: 8px 14px 10px

	&:hover
		background-color: $dark_red

.button
	color: white
	text-transform: uppercase
	text-align: center
	padding: 18px 35px
	border: 2px solid white
	display: inline-block


	&:hover
		background: white
		color: $red

.title-bg 
	h2::after, h2::before
		display: inline-block
		content: ""
		background: 
			size: cover
			repeat: no-repeat
			position: center
		+size(84px 8px)
		margin-bottom: 0.2em

	h2::after
		background-image: url("../images/right_accent.png")
		margin-left: 0.3em

	h2::before
		background-image: url("../images/left_accent.png")
		margin-right: 0.3em

// global

*
	font-family: lato, sans-serif
	box-sizing: border-box
	position: relative
	+transition(all 0.3s ease-in-out)

	&:hover
		+transition(all 0.3s ease-in-out)

html,
body
	height: 100%

a
	color: inherit
	text-decoration: inherit

ul
	padding-left: 20px
	margin: 0

h2 
	font-size: 32px
	font-weight: 400
	color: $mid_gray
	text-transform: uppercase

h3
	font-size: 25px

img
	width: auto
	height: auto

// page styles
section
	width: 100%

.container
	+outer-container 
	margin: 0 auto
	@extend .clearfix

#topbar
	background: $mid_gray
	height: $thin_bar

	.container
		height: inherit

	button
		color: $light_gray
		background: $dark_gray 
		font-size: 13px
		height: inherit
		padding: 15px
		margin-left: 2px 
		float: left
		height: 100%

		&:hover
			background: $red
			color: white

		&:hover a 
			color: white

	+direction-context(left-to-right)
		.welcome
			button
				margin: 0

			a
				color: $light_gray
				text-decoration: none
				display: block

	+direction-context(right-to-left)
		.shop-btns
			+span-columns(4)
			width: auto 
			height: 100%

#header
	background: $red
	.container
		height: $header_height
	
	.branding
		+span-columns(2) 

		a 
			display: block

		.logo
			+hide-text
			background: 
				image: url("../images/logo.svg")
				repeat: no-repeat
				position: center
				size: contain
			height: $header_height  
			margin: 0

#navbar
	+span-columns(10)

	*
		height: inherit

	+direction-context(right-to-left)  
		.nav-wrap
			+span-columns(10)

	ul
		height: $header_height
		margin: 0
		padding: 0
		float: left

	li
		display: inline-block
		@extend .transition
		+links($dark_red, $dark_red, white, white)

		.home
			background: $mid_red

		&:hover
			background: $mid_red

	a
		font-size: 16px
		text-transform: uppercase
		text-decoration: none
		padding: 30px
		vertical-align: middle
		display: table-cell
		height: $header_height

	i
		line-height: $header_height
		color: $dark_red
		cursor: pointer

#header-search-bar
	height: 80px
	padding: 10px 0
	background: $dark_gray

	+direction-context(right-to-left)  
		form
			+span-columns(6)

			label
				text-indent: -1000px
				color: $dark_gray
				height: auto 

			.search-field
				width: 411px
				float: left
				padding: 1rem 2rem 1rem 1rem

			input[type="submit"]
				float: left
				padding: 1.23rem 0.5em
				background: 
					image: url('../images/search-icon.svg') 
					repeat: no-repeat 
					position: center
					color: $light_gray
				color: transparent
				border: none

// home hero
#splash-header
	min-height: 100%
	background:
		image: url("../images/home_slider.jpg")
		repeat: no-repeat
		size: cover
	+align-items(center)
	+display(flex)

	.container
		+flex(1)


		.hero-txt-wrap
			text-align: center
			color: white

			h2 
				font-size: $hero_font_size
				font-weight: bold
				color: white
				margin: 0

			h3
				font-size: $h3_font_size

			.button
				font-size: $hero_btn_font
				border: 2px solid white
				padding: 10px 20px
				margin-top: 20px

.row
	padding: 50px 0
	text-align: center

#row1 
	.pod-wrap
		+span-columns(12)

		.pod 
			background: $dark_gray
			position: relative 
			height: 356px

			a 
				display: block
				position: relative 

			.front
				transform: scale(0)
				width: 100%

			.back
				+position(absolute, 0 0 0 0)
				margin: auto

			&:hover img.front
				transform: scale(1)
				+transition-delay(0.2s)

#row2
	background: #ededed

	.container
		+display(flex)
		+align-items(center)
		+justify-content(center)

		.image 
			border-right: 1px solid #d4d4d4
			padding-right: 30px
			margin-right: 30px
			img
				+size(140px 140px)
				border-radius: 50%

		.text 
			color: $dark_gray
			font-size: 27px
			font-weight: 100
			font-style: italic
			
			p
				padding: 0 
				margin: 0

		.name
			color: $red 
			font-size: 14px
			font-weight: bold
			margin: 70px 0 0 90px

#row3
	background: $dark_gray url('../images/pattern.png') repeat center center

	.h2-wrap
		background: $red
		padding: 10px
		+margin(-50px null 20px null)

		h2
			padding: 0
			+margin(0 null 0 null)

	.pod-wrap
		+span-columns(12) 

		.pod
			position: relative 
			overflow: hidden
			height: 150px			
			//+span-columns(4 of 12) 
			+transition(all 0.3s ease-in-out)
			
			img 
				width: auto

			a
				display: block
			
			&::after
				border: 0px solid white
				box-shadow: 0px 0px 0px 27px rgba(255,255,255,0.3)
				content: ""
				display: block
				+size(100%)
				margin: auto 
				+position(absolute, 0 0 0 0)
				+transition(all 0.3s ease-in-out)

			&:hover .front 
				width: 100%
				height: auto
				+transition(all 0.3s ease-in-out)

			&:hover:after
				border-width: 1px
				+size(320px 120px)


			.front 
				width: 115%
				height: auto

			.back
				+position(absolute, 0 0 0 0)
				margin: auto

.products 
	.pod
		position: relative 
		overflow: hidden

		+transition(all 0.3s ease-in-out)
		+transition-delay(0.1s)

		&:hover
			+transition(all 0.3s ease-in-out)
			+transition-delay(0.1s)

		img
			width: 100%
			transform: translate(0px, 0px)

		.product-description
			background-color: $dark_gray
			color: $light_gray
			padding: 10px 12px
			text-align: left
			font-size: 13px
			height: 350px
			+position(absolute, 130px 0 0 0)
			transform: translate(0px, 250px)

			h3
				font-size: 18px
				color: white
				margin: 0

			ul.stars 
				padding: 0
				margin-top: 4px

				li
					display: inline-block

			p 
				line-height: 18px
				+margin(10px null 10px null) 

				&:after
					content: ""
					display: block
					+size(100px 1px)
					background: #aaa
					margin-top: 10px

			ul 
				padding: 0
				margin: 0

				li 
					list-style: none

					a
						color: white


		.add-to-cart-wrap
			background: $dark_gray
			color: white
			padding: 17px
			margin-top: -4px
			display: flex
			+justify-content(space-between)
			overflow: hidden
			+transition(all 0.3s ease-in-out)
			+transition-delay(0.1s)

			&:before
				content: ""
				display: block
				background: $red
				+position(absolute, 0 0 0 0)
				transform: translate(0px, -55px)
				+transition(all 0.3s ease-in-out)
				+transition-delay(0.1s)

		&:hover img
			transform: translate(0px, -100px)

		&:hover .product-description
			transform: translate(0px, 0px)

		&:hover .add-to-cart-wrap:before
			transform: translate(0px, 0px)
			+transition(all 0.3s ease-in-out)
			+transition-delay(0.1s)
			
			button 
				padding: 0

.carousel.best-seller
	background-color: $lighter_gray 

.blog-posts
	.pod
		background-color: $lighter_gray
		padding: 15px
		text-align: left

		&--image
			position: relative
			display: block

			img
				width: 100%

			&::after
				display: none
				content: ""
				+size(95% 90%)
				border: 1px solid white
				+position(absolute, 0 0 0 0)
				margin: auto

		&:hover .pod--image::after
			display: block

	h3
		font-size: 22px
		text-transform: uppercase
		margin-bottom: 15px

	&--details
		padding: 0
		margin: 0

	&--details li
		display: inline-block
		margin-right: 15px
		
		i
			margin-right: 6px		

.parallax
	background:
		image: url("../images/bg_parallax.jpg")
		size: cover
		position: center
		attachment: fixed
	min-height: 580px
	+display(flex)
	+align-items(center)

	h2
		color: white
		font-size: 60px
		text-transform: uppercase
		margin-bottom: 70px

		span
			display: block
			+hide-text

			background: 
				image: 	url("../images/logo.svg") 
				repeat: no-repeat 
				position: center
				size: contain

.logo-strip
	background: $lighter_gray
	padding: 60px 0

.counters
	.pod
		color: $mid_gray

		i
			font-size: 25px
			border: 2px solid $dark_gray
			+size(70px 70px)
			padding-top: 23px

		h4
			font-size: 40px
			+margin(20px null 10px null)

			&::after
				display: block
				content: ""
				+size(70px 1.5px)
				background: $lighter_gray
				margin: 8px auto 5px

		p
			margin: 0
			text-transform: uppercase

		&:hover i
			box-shadow: 0px 0px 0px 5px $red
			border-color: white
			background-color: $red
			color: white

		&:hover
			h4, p
				color: $red

.breadcrumb-and-share	
	background: $red
	padding: 15px 0

	ul
		padding: 0 
		margin: 0

		li 
			display: inline-block

			a
				display: block

				&:hover
					background: $dark_red 

	.breadcrumb
		text-align: left

		a
			+size(auto 40px)
			padding: 10px 15px 10px
			background: $red2
			display: block 
			color: white

	.social-icons 
		text-align: right

		a
			+size(40px)
			background-color: $red2
			color: white
			font-size: 14px
			padding-top: 11px
			text-align: center
			display: block

#footer
	background-color: $dark_gray
	padding: 80px 0
	text-align: left
	color: $light_gray

	h3 
		color: white
		text-transform: uppercase
		margin: 0 0 20px 0

	p, li
		font-size: 14px

	a:hover
		text-decoration: underline
	




