// grid
+media($tablet)

	.col-3 .col
		+span-columns(4 of 12) 	
		img
			width: 100%

	.col-6 .col
		+span-columns(2 of 12) 	

	.col-2 .col
		+span-columns(6 of 12)

@media screen and (min-width: 768px)
	.col-4 .col	
		float: left
		display: block
		margin-right: 2.35765%
		width: 23.23176%

		&:last-child
			margin-right: 0
