// grid
+media($tablet)	

	.col-6 .col
		+span-columns(2 of 12) 	

	.col-2 .col
		+span-columns(6 of 12)

//@media screen and (min-width: 768px)

.col-3 .col
	float: left
	display: block
	margin-right: 2.35765%
	max-width: 31.76157%;

.col-4 .col	
	float: left
	display: block
	margin-right: 25.6406px
	width: 252.75px

.col:last-child
	margin-right: 0

.col-10
	float: left
	display: block
	margin-right: 2.35765%
	width: 82.94039%