//extended/helper classes 
.clearfix   
  &::after 
    content: "" 
    display: table 
    clear: both 

// container
.container
	width: 100%
	max-width: 1130px
	padding: 0 20px
	margin: 0 auto
	@extend .clearfix


// grid
+media($tablet)	

	.col-6 .col
		+span-columns(2 of 12) 	

	.col-2 .col
		+span-columns(6 of 12)

//@media screen and (min-width: 768px)

.col-2 .col
	float: left
	display: block
	margin-right: 2.35765%
	width: 159.953px

.col-3 .col
	float: left
	display: block
	margin-right: 2.35765%
	max-width: 31.76157%

.col-4 .col	
	float: left
	display: block
	width: 23.2%
	margin-right: 2.356%
	max-width: 252.875px

.col-10 .col
	float: left
	display: block
	margin-right: 2.35765%
	width: 902.391px


// last child class
.col:last-child
	margin-right: 0

.col-2
	width: 40px

@media screen and (max-width:997px)
	.pod-wrap
		margin: 0 auto

		&::after
			content: ""
			display: block
			clear: both

		.col
			margin-bottom: 15px

	.col-4 .col	
		float: left
		display: block
		width: 244px
		margin-right: 3%

@media screen and (min-width: 639px) and (max-width:997px)
	.container 
		max-width: 680px !important

		.pod-wrap
			max-width: 537px

@media screen and (max-width:640px)  
	.pod-wrap
		max-width: 277px 

